
<div class="flip-card" id="trialF" >
  <div class="flip-card-inner">
    <div class="flip-card-front trialFlipFront">
      <h1>FREE TRIAL</h1>
    </div>
    <div class="flip-card-back trialFlipBack">
      <h1>FREE TRIAL</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum qui
        reiciendis atque maiores minus ducimus soluta sapiente maxime molestiae
        quae nostrum odio ad ut et nihil perferendis excepturi omnis est illo
        sint quas natus, nam ea! Eum voluptatibus corrupti vero.
      </p>
      <button type="button" class="btn btn-primary">
        <a href="/FreeTrial">Book A Free Trial</a>
      </button>
    </div>
  </div>
</div>

<div class="flip-card" id="prodF">
  <div class="flip-card-inner">
    <div class="flip-card-front prodFlipFront">
      <h1>PRODUCTS</h1>
    </div>
    <div class="flip-card-back prodFlipBack">
      <h1>PRODUCTS</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum qui
        reiciendis atque maiores minus ducimus soluta sapiente maxime molestiae
        quae nostrum odio ad ut et nihil perferendis excepturi omnis est illo
        sint quas natus, nam ea! Eum voluptatibus corrupti vero.
      </p>
      <button type="button" class="btn btn-primary">
        <a href="/Products">Explore Products</a>
      </button>
    </div>
  </div>
</div>

<div class="flip-card" id="offerF">
  <div class="flip-card-inner">
    <div class="flip-card-front offerFlipFront">
      <h1>OFFERS</h1>
    </div>
    <div class="flip-card-back offerFlipBack">
      <h1>OFFERS</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum qui
        reiciendis atque maiores minus ducimus soluta sapiente maxime molestiae
        quae nostrum odio ad ut et nihil perferendis excepturi omnis est illo
        sint quas natus, nam ea! Eum voluptatibus corrupti vero.
      </p>
      <button type="button" class="btn btn-primary">
        <a href="/Offers">Explore Offers</a>
      </button>
    </div>
  </div>
</div>
