<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width
    , initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <script src="https://kit.fontawesome.com/1f3b33001a.js"></script>
    <title>Dazzling Wheels - Free Trial</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png" />
  </head>
  <body>
    <div class="crux-container freetrial-container">
      <%-include('header.ejs') %>
      <h1 data-aos="fade-up" data-aos-duration="700">Car Care Redefined</h1>
      <h1 style="margin-top: 50px;" data-aos="fade-up" data-aos-duration="700">
        Because Your Car Deserves Better
      </h1>
    </div>

    <div class="freeTrial">
      <div class="freeText" data-aos="fade-right">
        <h1>Free Trial</h1>
        <p>
          Free trial is the process in which we will correct and restore the
          car's paint and give it a glorius and finished look as it had once
          when you fisrt bought it. This all is provided by using products of
          highest quality like AMWAY car polish and 3M car wax. Amway car polish
          not only removes the rust and sticky dust particles from the surface,
          but also removes some minor scratches and brings out the ultimate
          shine of the car's paint beautifully.
        </p>
        <p>
          Then after applying car polish we protect the paint by 3M car wax.This
          wax is very durable and long lasting, It'sapplication on the car
          ensures that no pollution and dust reaches your car's paint and hence
          the paint is alwaysshining and protected.
        </p>
        We are so very confident by our process and our products that they will
        bring outstanding results which you can't say no to.hence we do not
        startyour service without offering this free trial.You cant complaint
        after seeing the results yourself and you would love to opt our service.
      </div>

      <div class="image" data-aos="fade-left">
        <img src="../assets/images/frettrial1.jpg" />
      </div>
    </div>

    <div class="second-grey">
      <div class="freeTrial ">
        <div class="image" data-aos="fade-right">
          <img src="../assets/images/frettrial1.jpg" />
        </div>
        <div class="freeText" data-aos="fade-left">
          <h1>What Do We Do In Free Trial?</h1>
          <p style="margin-top: 35px;">
            Primarily the ultimate motive of free trial is to clean your car and
            bring out the best shine which is similar to the one which your
            vehicle had when it had just come out from the showroom.So first we
            will be using high pressure water jet and car wash to remove all the
            surface contaminants and dust.then with a microfiber cloth,the car
            is wiped and then AMWAY car polish is applied with utmost
            precision.after this,the polish is left to dry and then it is wiped
            off.After wiping immedite effects can be seen easily.Soon after the
            application of polish,a coat of car wax is applied so that the
            exterior always remains protected from the pollution and harmful UV
            rays.This is what we do in a free trial at DAZZLING WHEELS!
          </p>
        </div>
      </div>
    </div>

    <div class="freeTrial">
      <div class="freeText" data-aos="fade-right">
        <h1 style="margin-top: 100px;">Book Your Free Trial</h1>
        <p>
          Give us a chance to serve you and see the difference yourself. We are
          very confident with our work and we assure you that the change will we
          visible from day one.Experience the quality once and you will never
          want to go back to your local cleaner.
        </p>
      </div>

      <form method="POST" class="trialForm" data-aos="fade-left">
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Full Name"
              name="custName"
              required
            />
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              placeholder="Mobile No."
              name="custNumb"
              required
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Car Name"
              name="carName"
              required
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Car Number"
              name="carNumb"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              placeholder="Address"
              name="custAddr"
              required
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </div>
    <%-include('footer.ejs')%>
  </body>
  <script type="text/javascript" src="../assets/scripts/index.js"></script>
</html>
