<div class="side-navbar" id="sideNav">
  <div class="menu-items" id="unblur">
    <div class="container" onclick="menuCloser(this)" id="repeatCross">
      <div class="bar1" style="background-color: #C93934;"></div>
      <div class="bar2" style="background-color: #C93934;"></div>
      <div class="bar3" style="background-color: #C93934;"></div>
    </div>
    <button
      type="button"
      class="btn btn-danger"
      onclick="window.location.href = '.';"
    >
      HOME
    </button>
    <button
      type="button"
      class="btn btn-danger"
      onclick="window.location.href = '/FreeTrial';"
    >
      FREE TRIAL
    </button>
    <button
      type="button"
      class="btn btn-danger"
      onclick="window.location.href = '/Products';"
    >
      PRODUCTS
    </button>
    <button
      type="button"
      class="btn btn-danger"
      onclick="window.location.href = '/Offers';"
    >
      OFFERS
    </button>
    <button
      type="button"
      class="btn btn-danger"
      onclick="window.location.href = '/ContactUs';"
    >
      CONTACT US
    </button>
  </div>
</div>

<header class="head">
  <div class="logo-container">
    <!-- <img src="" alt="Dazzling Wheels" /> -->
    <h4>DAZZLING</h4>
    <h4>. WHEELS</h4>
  </div>
  <div class="menu-container">
    <ul>
      <li><a href=".">HOME</a></li>
      <li><a href="/FreeTrial">FREE TRIAL</a></li>
      <li><a href="/Products">PRODUCTS</a></li>
      <li><a href="/Offers">OFFERS</a></li>
      <li><a href="/ContactUs">CONTACT US</a></li>
    </ul>
  </div>
  <div class="container" onclick="menuOpener(this)" id="origCross">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</header>
