<div class="topnav" id="myTopnav">
    <a href="#" class="active">DAZZZLING WHEELS</a>
    <a href="/">Home</a>
    <a href="/FreeTrial">Free Trial</a>
    <a href="/Offers">Offers</a>
    <a href="/Products">Products</a>
    <a href="/ContactUs">Contact Us</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>