<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width
    , initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <script src="https://kit.fontawesome.com/1f3b33001a.js"></script>
    <title>Dazzling Wheels - Home</title>
  </head>
  <body>
    <div class="crux-container">
      <%-include('header.ejs') %>
      <h1 data-aos="fade-up" data-aos-duration="700">Car Care Redefined</h1>
      <h1 style="margin-top: 50px;" data-aos="fade-up" data-aos-duration="700">
        Because Your Car Deserves Better
      </h1>
    </div>
    <div class="aboutus" data-aos="fade-up">
      <h1>Who We Are? What Do We Do?</h1>
      <p>
        DAZZLING WHEELS assure you to bring professional trained car cleaning
        workers that will do justice to your precious car. Not only will the
        company provide best quality cleaning but will also give you experience
        of features like punctuality, 6 day in a week car cleaning, standard of
        cleaning, because we care for your car and are completely answerable to
        you.
      </p>
    </div>
    <div class="homeFlipper">
      <%-include('flipped.ejs') %>
    </div>
    <div class="whyUs" data-aos="fade-up"></div>
    <%-include('footer.ejs')%>
  </body>
  <script type="text/javascript" src="../assets/scripts/index.js"></script>
</html>
