<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width
    , initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <script src="https://kit.fontawesome.com/1f3b33001a.js"></script>
    <title>Dazzling Wheels - Offers</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png" />
  </head>
  <body>
    <div class="crux-container offer-container">
      <%-include('header.ejs') %>
      <h1 data-aos="fade-up" data-aos-duration="700">Car Care Redefined</h1>
      <h1 style="margin-top: 50px;" data-aos="fade-up" data-aos-duration="700">
        Because Your Car Deserves Better
      </h1>
    </div>


    <div class="services aboutus"  >
      <h1 data-aos="fadeup">
        What services do we provide?
      </h1>
      
      <div class="outerdiv" data-aos="fadeup">
        <div class="innerdiv" data-aos="fadeup"  data-aos-duration="700">1 amway car care polish shine coat  </div>
        <div class="innerdiv" data-aos="fadeup" data-aos-duration="700">1 full detail car wash </div>
        <div class="innerdiv" data-aos="fadeup" data-aos-duration="700">complete body wax care with paint and clearcoat protector for 30 days</div>
        

      </div>


      <div class="outerdiv">
          <div class="innerdiv" data-aos="fadeup" data-aos-duration="700">4 specific pressure wash</div>
          <div class="innerdiv" data-aos="fadeup" data-aos-duration="700">20 specialized microfiber cloth dust and pollution wipe</div>
          <div class="innerdiv" data-aos="fadeup" data-aos-duration="700">20 all glass and windshield cleaning</div>
          

      </div>


    </div>


       <h1 class="price" data-aos="fadeup" data-aos-duration="700">What Is The Cost?</h1>

    <div class="service-cost-1">
      <div class="cost" data-aos="fadeup" data-aos-duration="700">1 car polish service (local polish) at &#x20B9 300 only</div>
      <div class="cost" data-aos="fadeup" data-aos-duration="700">1 full detail car wash at &#x20B9 650~800 only
      </div>
      <div class="cost" data-aos="fadeup" data-aos-duration="700">20 dust and pollution wipe body + glasses at &#x20B9 300 only
      </div>
    </div>


    <div class="service-cost-2 service-cost-1">
      <div class="cost" data-aos="fadeup" data-aos-duration="700">Complete body wax protection for 30 days (local wax) at &#x20B9 400~500 only
      </div>
      <div class="cost" data-aos="fadeup" data-aos-duration="700">1 x 4 specific pressure wash body + tire =199 x4 at &#x20B9 800 only
      </div>
    </div>


    <div class="service-cost-3 service-cost-1" >
      <div class="cost-special" data-aos="fadeup" data-aos-duration="700" >
        <h1 >SPECIAL OFFER!</h1>
       
        1 car polish service (local polish) +
        1 full detail car wash +
        Complete body wax protection for 30 days (local wax) +
        1 x 4 specific pressure wash body + tire +
        20 dust and pollution wipe body + glasses at &#x20B9 799 only
        <br>
        And just not this in &#x20B9 799 we also clean and give same services to your bike/scooter for absolutely free.
        </div>
      
    </div>




   

  </body>
  <script type="text/javascript" src="../assets/scripts/index.js"></script>
</html>
