<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width
    , initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <script src="https://kit.fontawesome.com/1f3b33001a.js"></script>
    <title>Dazzling Wheels - Home</title>
  </head>
  <body>
    <div class="crux-container freetrial-container">
      <%-include('header.ejs') %>
      <h1 data-aos="fade-up" data-aos-duration="700">Car Care Redefined</h1>
      <h1 style="margin-top: 50px;" data-aos="fade-up" data-aos-duration="700">Because Your Car Deserves Better</h1>
    </div>

    <div class="freeTrial">
      <div class="freeText" data-aos="fade-right">
        <h1>Why Need This Is Over Your Monthly Car Wash</h1>
        <p>
         To protect your car and maintain it's dazzle over increased resale value of your car 
         upto &#x20B9 
        </p>
        <p>
         This process of including regular ultra cure in your regular monthly car 
         cleaning eliminates the need of sending your car for expensive services
         and cleaners for exterior cleaning thrice or more times annually.
        </p>
         A dazzling wheel car reflects your attitude and social status because
         a mercedes with dust and scratches is just another car.
      </div>

      <div class="image" data-aos="fade-left">
        <img src="../assets/images/frettrial1.jpg" />
      </div>
    </div>

    <div
      style="background-color: #F6F5F5; width: 100%; height: 600px; display: flex; align-items: center;margin-top: 60px;"
    >
      <div class="freeTrial ">
        <div class="image" data-aos="fade-left">
          <img src="../assets/images/frettrial1.jpg" />
        </div>
        <div class="freeText" data-aos="fade-right">
          <h1>What Do We Do In Free Trial?</h1>
          <p style="margin-top: 35px;">
            Primarily the ultimate motive of free trial is to clean your car and
            bring out the best shine which is similar to the one which your
            vehicle had when it had just come out from the showroom.So first we
            will be using high pressure water jet and car wash to remove all the
            surface contaminants and dust.then with a microfiber cloth,the car
            is wiped and then AMWAY car polish is applied with utmost
            precision.after this,the polish is left to dry and then it is wiped
            off.After wiping immedite effects can be seen easily.Soon after the
            application of polish,a coat of car wax is applied so that the
            exterior always remains protected from the pollution and harmful UV
            rays.This is what we do in a free trial at DAZZLING WHEELS!
          </p>
        </div>
      </div>
    </div>

    <div class="freeTrial">
      <div class="freeText" data-aos="fade-right">
        <h1 style="margin-top: 100px;">Book Your Free Trial</h1>
        <p>
          Give us a chance to serve you and see the difference yourself. We are
          very confident with our work and we assure you that the change will we
          visible from day one.Experience the quality once and you will never
          want to go back to your local cleaner.
        </p>
      </div>

      <form method="POST" class="trialForm" data-aos="fade-left">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Full Name" />
          </div>
          <div class="col">
            <input
              type="number"
              class="form-control"
              placeholder="Mobile No."
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Car Name" />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Car Number" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Address" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
      </form>
    </div>
    <%-include('footer.ejs')%>
  </body>
  <script type="text/javascript" src="../assets/scripts/index.js"></script>
</html>
